
* {
    font-family: sans-serif;
}

body {
    padding: 1% 5%;
    background-color: dimgray;
}

h1 {
    color: white;
}

body > hr {
    color: white;
}

.spacer {
    white-space: pre-line;
    padding: 0px 100px;
}

.spacier {
    white-space: pre-line;
    padding: 0px 150px;
}

input[type=text], 
select, 
textarea {
    font-size: 125%;
    margin: 5px 25px;
}

select {
    padding: 5px 10px;
    background: transparent; /*whitesmoke;*/
}

.ample {
    width: 10%;
}

.wide {
    width: 50%;
}

.super-wide {
    width: 95%;
}

.ask {
    background-color: palegreen;
    padding: 1% 1%;
}

.fact {
    background-color: black;
    padding: 1% 1%;
}

.name {
    background-color: lightsteelblue;
    padding: 1% 1%;
}

.tell {
    background-color: cornsilk;
    padding: 1% 1%;
}

.next {
    background-color: mintcream;
    padding: 1% 1%;
}

.act {
    font-size: 125%;
    padding: 10px 25px;
}

.far {
    font-size: 125%;
    padding: 10px 25px;
}

pre {
    font-family: monospace;
    font-size: 125%;
    color: white;
    background-color: midnightblue;
    
    padding: 1% 1%;
}

svg {
    background-color: lightyellow;
}

.chill {
    stroke: forestgreen;
    stroke-width: 4;
    fill: palegreen;
}

.semi {
    stroke-opacity: 0.75;
    fill-opacity: 0.5;
}

